[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
flask = "*"
python-dotenv = "*"
setuptools = "*"
psycopg2-binary = "*"
flask-cors = "*"

[dev-packages]
qrcode = "*"

[requires]
python_version = "3.11"
